* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 6.25%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

body {
  background-color: #FFFFFF;
  
}

.page {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 230rem;
}


.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.input-time,
.difference {
  display: flex;
  font-size: 126rem;
  line-height: 148rem;
  color: #323238;
}

.input-time input,
.difference div {
  font-size: 126rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  width: 140rem;
  border: none;
}

.actions{
  display: flex;
  justify-content: space-between;
}

button{
  border: none;
  background-color: inherit;
}

.sounds {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32rem;
}

.card {
  background-color: #E1E1E6;
  width: 138rem;
  height: 152rem;
  border-radius: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  background-color: #02799D;
}

.selected svg path {
  fill: #FFFFFF;
}

.selected img {
  filter: brightness(0) invert(1);
}

.hidden {
  display: none;
}

button img {
  width: 48px;
}